@model ELearningSystem.Model.Lecture
@{
    ViewBag.Title = "Index";
}
<p class="testTitle">
    @Html.DisplayFor(m => m.Title)
</p>
<div></div>
<div>
    @Html.DisplayFor(m => m.Content)
</div>

@if (User != null && User.Identity.IsAuthenticated && User.IsAdmin)
{
    <input class='button edit_recipient' type='button' value=@Resources.Resource.strEdit
           onclick="location.href='@Url.Action("Edit", "Lecture", new { Model.Id }, null)'" />

    <input class='button edit_recipient' type='button' value=@Resources.Resource.strDelete
           onclick="location.href='@Url.Action("Delete", "Lecture", new { Model.Id, Model.CourseId}, null )'" />
}